<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from nilethemes.com/html/cook-note/single-recipe.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Oct 2018 13:37:33 GMT -->
<head>
    <title>Cook Note - Food Recipes HTML Template</title>
    <meta name="author" content="Nile-Theme">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="recipes food, recipes , chinese food, italian food">
    <meta name="description" content="Cook Note - Food & Recipes Food Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:100,200,300i,300,400,700,400i,500%7CDancing+Script:700" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/hover-min.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/colors/main.css">
    <link rel="stylesheet" href="~/assets/css/elegant_icon.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
</head>
<body>
    <header class="background-main-color">
        <div class="container">
            <div class="header-output">
                <div class="header-in">
                    <div class="row">
                        <div class="col-lg-2 col-md-12">
                            <a id="logo" href="index-2.html" class="d-inline-block margin-tb-5px"><img src="~/assets/img/logo-small.png" alt=""></a>
                            <a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
                        </div>
                        <div class="col-lg-8 col-md-12 position-inherit">
                            <ul id="menu-main" class="white-link dropdown-dark text-lg-center nav-menu link-padding-tb-17px">
                                <li class="has-dropdown">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="index-2.html">Home 1</a></li>
                                        <li><a href="index-3.html">Home 2</a></li>
                                        <li><a href="index-4.html">Home 3</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Recipes</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="recipes-grid-layout.html">Recipes - Grid Layout </a></li>
                                        <li><a href="recipes-list-layout.html">Recipes - List Layout</a></li>
                                        <li><a href="authors-layout-1.html">Authors - Layout (1)</a></li>
                                        <li><a href="authors-layout-2.html">Authors - Layout (2)</a></li>
                                        <li><a href="single-recipe.html">Single Recipe</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="blog-grid.html">Blog Grid </a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="page-about.html">About Us </a></li>
                                        <li><a href="add-recipe.html">Add Recipe</a></li>
                                        <li><a href="page-login.html">Login Page</a></li>
                                        <li><a href="page-sign-up.html">Sign up</a></li>
                                        <li><a href="search-page.html">Search  Page</a></li>
                                        <li><a href="page-contact-us.html">Contact Us</a></li>
                                        <li><a href="page-404.html">Pages 404</a></li>
                                    </ul>
                                </li>
                                <li><a href="page-contact-us.html">Conact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <hr class="margin-bottom-0px d-block d-sm-none">
                            <a href="add-recipe.html" class="text-white ba-2 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="fas fa-plus"></i></a>
                            <a href="page-login.html" class="text-white ba-1 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="far fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- // Header  -->
    <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container text-left">
            <ol class="breadcrumb opacity-5">
                <li><a href="#">Home</a></li>
                <li class="active">Recipe</li>
            </ol>
            <h1 class="font-weight-300">Slow Cooker Loaded Potato Soup</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @RenderBody()
            <div class="col-lg-4">
                <div class="listing-search box-shadow background-main-color padding-30px margin-bottom-30px">
                    <form class="row no-gutters">
                        <div class="col-md-12">
                            <div class="keywords">
                                <input class="listing-form first border-radius-10 margin-bottom-10px" type="text" placeholder="Keywords..." value="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="categories dropdown">
                                <a class="listing-form d-block text-nowrap border-radius-10 margin-bottom-10px" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item text-up-small" type="button">Fish</button>
                                    <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                                    <button class="dropdown-item text-up-small" type="button">Salads</button>
                                    <button class="dropdown-item text-up-small" type="button">Asian</button>
                                    <button class="dropdown-item text-up-small" type="button">Fish</button>
                                    <button class="dropdown-item text-up-small" type="button">Cocktails</button>
                                    <button class="dropdown-item text-up-small" type="button">Salads</button>
                                    <button class="dropdown-item text-up-small" type="button">Asian</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a class="listing-bottom border-radius-10 background-second-color box-shadow" href="#">Search Now</a>
                        </div>
                    </form>
                </div>
                <div class="row margin-tb-45px">
                    <div class="col-6 margin-bottom-25px">
                        <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                            <div class="thum"><img src="~/assets/img/cat-1.jpg" alt=""></div>
                            <h4 class="text-center padding-15px">Fish</h4>
                        </a>
                    </div>
                    <div class="col-6 margin-bottom-25px">
                        <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                            <div class="thum"><img src="~/assets/img/cat-2.jpg" alt=""></div>
                            <h4 class="text-center padding-15px">Cocktails</h4>
                        </a>
                    </div>
                    <div class="col-6 margin-bottom-25px">
                        <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                            <div class="thum"><img src="~/assets/img/cat-3.jpg" alt=""></div>
                            <h4 class="text-center padding-15px">Eggs</h4>
                        </a>
                    </div>
                    <div class="col-6 margin-bottom-25px">
                        <a href="#" class="d-block box-shadow background-main-color text-white hvr-float">
                            <div class="thum"><img src="~/assets/img/cat-4.jpg" alt=""></div>
                            <h4 class="text-center padding-15px">Salads</h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="padding-top-100px padding-bottom-70px background-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 sm-mb-30px">
                    <div class="logo margin-bottom-10px"><img src="~/assets/img/logo-1.png" alt=""></div>
                    <div class="text-grey-2  font-weight-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy .</div>
                    <ul class="list-inline text-left margin-tb-20px margin-lr-0px text-white">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- // Social -->
                </div>
                <div class="col-lg-4  col-md-4 sm-mb-30px">
                    <ul class="footer-menu-2 row margin-0px padding-0px list-unstyled">
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Home</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Featured</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Feedback</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Ask a Question</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Team</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Maintenance</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Get a Quote</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 sm-mb-30px">
                    <ul class="footer-menu-2 row margin-0px padding-0px list-unstyled">
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Home</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Featured</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Feedback</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Ask a Question</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Team</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Maintenance</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Get a Quote</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="padding-tb-10px background-main-color">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-white margin-tb-15px text-center text-lg-left">
                        Cook Note |
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-lg-right text-center margin-lr-0px margin-tb-15px text-white">
                        <li class="list-inline-item margin-lr-8px"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item margin-lr-8px"><a class="facebook" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item margin-lr-8px"><a class="facebook" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item margin-lr-8px"><a class="facebook" href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li class="list-inline-item margin-lr-8px"><a class="facebook" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item margin-lr-8px"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/sticky-sidebar.js"></script>
    <script src="~/assets/js/YouTubePopUp.jquery.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/imagesloaded.min.js"></script>
    <script src="~/assets/js/masonry.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from nilethemes.com/html/cook-note/single-recipe.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Oct 2018 13:37:35 GMT -->
</html>
