<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    @RenderBody()
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="~/Content/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="#home">Home</a></li>
                        <li><a href="#dish">Dish</a></li>
                        <li><a href="#chefs">Chefs</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="menu-has-children">
                            <a href="">Pages</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
                    <h1>
                        Delicious Receipes
                    </h1>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </p>
                    <a href="#" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start top-dish Area -->
    <section class="top-dish-area section-gap" id="dish">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Top Rated Dishes</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/d1.jpg" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/d2.jpg" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/d3.jpg" alt="">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End top-dish Area -->
    <!-- Start video Area -->
    <section class="video-area">
        <div class="container">
            <div class="row justify-content-center align-items-center flex-column">
                <a class="play-btn" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                    <img src="~/Content/img/play-btn.png" alt="">
                </a>
                <h3 class="pt-20 pb-20 text-white">We Always serve the vaping hot and delicious foods</h3>
                <p class="text-white">Youtube video will appear in popover</p>
            </div>
        </div>
    </section>
    <!-- End video Area -->
    <!-- Start features Area -->
    <section class="features-area pt-100" id="feature">
        <div class="container">
            <div class="feature-section">
                <div class="row">
                    <div class="single-feature col-lg-3 col-md-6">
                        <img src="~/Content/img/f1.png" alt="">
                        <h4 class="pt-20 pb-20">Refreshing Breakfast</h4>
                        <p>
                            Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                        </p>
                    </div>
                    <div class="single-feature col-lg-3 col-md-6">
                        <img src="~/Content/img/f2.png" alt="">
                        <h4 class="pt-20 pb-20">Awesome Lunch</h4>
                        <p>
                            Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                        </p>
                    </div>
                    <div class="single-feature col-lg-3 col-md-6">
                        <img src="~/Content/img/f3.png" alt="">
                        <h4 class="pt-20 pb-20">Soothing Dinner</h4>
                        <p>
                            Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                        </p>
                    </div>
                    <div class="single-feature col-lg-3 col-md-6">
                        <img src="~/Content/img/f4.png" alt="">
                        <h4 class="pt-20 pb-20">Rich Quality Buffet</h4>
                        <p>
                            Lorem ipsum dolor sit ametcons ecteturadipis icing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features Area -->
    <!-- Start related Area -->
    <section class="related-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Featured Food Menus</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="active-realated-carusel">
                    <div class="item row align-items-center">
                        <div class="col-lg-6 rel-left">
                            <h3>
                                Fresh & Crispy All the time
                            </h3>
                            <p class="pt-30 pb-30">
                                Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="primary-btn header-btn text-uppercase">view full menu</a>
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid" src="~/Content/img/slider1.jpg" alt="">
                        </div>
                    </div>
                    <div class="item row align-items-center">
                        <div class="col-lg-6 rel-left">
                            <h3>
                                Fresh & Crispy All the time
                            </h3>
                            <p class="pt-30 pb-30">
                                Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="#" class="primary-btn header-btn text-uppercase">view full menu</a>
                        </div>
                        <div class="col-lg-6">
                            <img class="img-fluid" src="~/Content/img/slider1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End related Area -->
    <!-- Start team Area -->
    <section class="team-area section-gap" id="chefs">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Meet Our Qualified Chefs</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t1.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t2.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Rodney Cooper</h4>
                        <p>Creative Art Director (Project)</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t3.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Dora Walker</h4>
                        <p>Senior Core Developer</p>
                    </div>
                </div>
                <div class="col-md-3 single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/t4.jpg" alt="">
                        <div class="align-items-center justify-content-center d-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="meta-text mt-30 text-center">
                        <h4>Lena Keller</h4>
                        <p>Creative Content Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team Area -->
    <!-- start blog Area -->
    <section class="blog-area section-gap" id="blog">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Latest From Our Blog</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/b1.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>
                            Cooking Perfect Fried Rice
                            in minutes
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                        <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/b2.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>
                            Secret of making Heart
                            Shaped eggs
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                        <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/b3.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>
                            How to check steak if
                            it is tender or not
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                        <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/b4.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>
                            Addiction When Gambling
                            Becomes A Problem
                        </h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                        <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blog Area -->
    <!-- Start Contact Area -->
    <section class="contact-area" id="contact">
        <div class="container-fluid">
            <div class="row align-items-center d-flex justify-content-start">
                <div class="col-lg-6 col-md-12 contact-left no-padding">
                    <div style=" width:100%;
                    height: 545px;" id="map"></div>
                </div>
                <div class="col-lg-4 col-md-12 pt-100 pb-100">
                    <form class="form-area" id="myForm" action="mail.php" method="post" class="contact-form text-right">
                        <input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required="" type="text">
                        <textarea class="common-textarea mt-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        <button class="primary-btn mt-20">Send Message<span class="lnr lnr-arrow-right"></span></button>
                        <div class="mt-10 alert-msg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">About Us</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Contact Us</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="number">
                            012-6532-568-9746 <br>
                            012-6532-569-9748
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Newsletter</h4>
                        <p>You can trust us. we only send  offers, not a single spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">

                            <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
                                <div class="input-group add-on">
                                    <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer-social d-flex align-items-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/parallax.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>

